:root{
	--color1: #111f2c; /*darlblue*/
	--color2: #2f576e;	/*blue*/
	--color3: #d2963b;	/*golden*/
	--color4: #e8ca82;	/*lightgolden*/
	--color5: #211f21;	/*darkbrown*/
	--color6: white; 
}
*{
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
}
	header{
		padding: 20px;
		text-align: center;
	}
	#header-logo{
		display: inline-block;
		font-size: 20pt;
		color: var(--color3);
		font-weight: bold;
	}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	header{
		padding: 20px;
		text-align: left;
	}
	#header-logo{
		font-size: 20pt;
		color: var(--color3);
		font-weight: bold;
	}
}
