:root{
	--color1: #111f2c; /*darlblue*/
	--color2: #2f576e;	/*blue*/
	--color3: #d2963b;	/*golden*/
	--color4: #e8ca82;	/*lightgolden*/
	--color5: #211f21;	/*darkbrown*/
	--color6: white; 
}
*{
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
}
	body{
		padding: 0;
		margin: 0;
		background-color: var(--color6);
	}
	main{
		width: 100%;
		top: 70px;
		position: absolute;
		display: block;
	}
	
	#sidenav{
		top: 70px;
		display: none;
		background-color: var(--color6);
		position: fixed;
		padding: 0;
		margin: 0;
		width: 250px;
		overflow: auto;
		height: 100vh;
		z-index: 1;
		border-width: 0 1px 0 0;
		border-style: solid;
	}
	#sidenav h2{
		font-size: 1.4em;
		margin: 0;
		padding: 10px 20px;
		display: block;
		color: var(--color1);
	}
	#sidenav a{
		padding: 10px 20px;
		display: block;
		color: var(--color1);
	}
	#sidenav a:hover, #sidenav a.active{
		background-color: var(--color2);
		color: var(--color6);
	}
	#content{
		width: 100%;
		display: block;
	}
	
	#content h1, #content h2, #content p, #content ul{
		color: var(--color1);
	}
	#hamburger{
		position: absolute;
		display: block;
	}
	svg{
		fill: var(--color6);
	}
	.comment{
		opacity: .7;
	}
	img{
		padding: 20px;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
		width: 70vw;
		max-width: 500px;
	}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	body{
		padding: 0;
		margin: 0;
		background-color: var(--color6);
	}
	main{
		display: flex;
	}
	
	#sidenav{
		display: block!important;
		padding: 0;
		margin: 0;
		width: 250px;
		overflow: auto;
		background-color: var(--color6);
		position: fixed;
		height: 100vh;
		z-index: 1;
	}
	#sidenav h2{
		margin: 0;
		padding: 10px 20px;
		display: block;
		color: var(--color1);
	}
	#sidenav a{
		padding: 10px 20px;
		display: block;
		color: var(--color1);
	}
	#sidenav a:hover, #sidenav a.active{
		background-color: var(--color2);
		color: var(--color6);
	}
	#content{
		display: block;
		margin-left: 250px; 
	}
	#hamburger{
		margin:0;
		padding: 0!important;
		display: none;
	}
	#hamburger svg{
		display: none;
	}
	#content h1, #content h2, #content p, #content ul{
		color: var(--color1);
	}
	.comment{
		opacity: .7;
	}
}
