:root{
	--color1: #111f2c; /*darlblue*/
	--color2: #2f576e;	/*blue*/
	--color3: #d2963b;	/*golden*/
	--color4: #e8ca82;	/*lightgolden*/
	--color5: #211f21;	/*darkbrown*/
	--color6: white; 
}
*{
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	body{
		padding: 0;
		margin: 0;
		background-color: var(--color6);
	}
	main{
		display: block;
	}
	#sidenav{
		background-color: var(--color6);
		position: absolute;
		padding: 0;
		margin: 0;
		width: 250px;
		overflow: auto;
		height: 100%;
		z-index: 1;
	}
	#sidenav h2{
		margin: 0;
		padding: 10px 20px;
		display: block;
		color: var(--color1);
	}
	#sidenav a{
		padding: 10px 20px;
		display: block;
		color: var(--color1);
	}
	#sidenav a:hover, #sidenav a.active{
		background-color: var(--color2);
		color: var(--color6);
	}
	#content{
		display: block;
	}
	
	#content h1, #content h2, #content p, #content ul{
		color: var(--color1);
	}
	.comment{
		opacity: .7;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	body{
		padding: 0;
		margin: 0;
		background-color: var(--color6);
	}
	main{
		display: flex;
	}
	#sidenav{
		padding: 0;
		margin: 0;
		width: 250px;
		overflow: auto;
		background-color: var(--color6);
		position: fixed;
		height: 100%;
		z-index: 1;
	}
	#sidenav h2{
		margin: 0;
		padding: 10px 20px;
		display: block;
		color: var(--color1);
	}
	#sidenav a{
		padding: 10px 20px;
		display: block;
		color: var(--color1);
	}
	#sidenav a:hover, #sidenav a.active{
		background-color: var(--color2);
		color: var(--color6);
	}
	#content{
		display: block;
		margin-left: 250px; 
	}
	
	#content h1, #content h2, #content p, #content ul{
		color: var(--color1);
	}
	.comment{
		opacity: .7;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}