*{
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}
body{
	text-align: center;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}

.header{
	padding: 30px;

	background-color: black;
	display: block;
}
nav{
	padding: 0 15px;
	display: inline;
	color: white;
	opacity: .7;
}
nav:hover{
	opacity: 1;
}		
#nav-profile{

}