*{
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
}
body{
	margin: 0;
	top: 0;
	padding: 0;
}

#menubar{
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	color: white;
	user-select: none;
}
#logobar{
	background-color: black;
	display: flex;
	width: 100%;
}
#logo{
	color: white;
	margin: 10px auto 10px 20px;
}
#hamburger{
	margin: 10px 20px 10px auto;
	cursor: pointer;
}
#hamburger svg{
	fill: white;
}
#hamburger svg:hover{
	fill: gold;
}
#downbar{
}
#navbar{
	width: 100%;
	background-color: black;
	opacity: 0;
	display: flex;
	transition: all 200ms ease-in;
}
#navbar.hide{
	opacity: 1;
}
#navbar a{
	position: relative;
	color: white;
	margin: auto;
	width: 50px;
	height: 50px;
}
.nav-icon{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
	transition: opacity 200ms ease-in;
}
.nav-icon.hide{
	opacity: 0;
}
.nav-icon svg{
	margin: auto;
	fill: white;
	width: 20px;
	height: 20px
}
.nav-icon svg.active{
	fill: gold; 
}
.nav-text{
	font-size: 10px;
	opacity: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: gold;
	transition: opacity 200ms ease-in;
}
.nav-text.hide{
	opacity: 0;
}
#socbar{
	display: none;
}
#page{
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	border-color: black;
}
.container{
	position: relative;
	width: 100%;
}
.text-area{
	width: 80%;
	display: block;
	position: static;
	margin-top: 40vw;
	margin-left: 10%;
}
.blast-root{
	user-select: none;
}
.blast{
	display: inline-block;
}
.home-page .button{
	display: inline-block;
	margin-top: 20px;
	padding: 5px 10px;
	color: gold;
	border: solid 1px gold;
}
.home-page .button:hover{
	color: black;
	background-color: gold;
}

.home-page h2{
	color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: "Open Sans",sans-serif;
    letter-spacing: 3px;
}



@media only screen and (min-width: 580px) {
	#menubar{
		display: flex;
		background-color: black;
	}
	#logobar{
		display: block;
		width: auto;
		margin-right: auto;
	}
	#logo{
		color: white;
		margin: 10px auto 10px;
	}
	#hamburger{
		display: none;
	}
	#navbar{
		text-align: center;
		margin: auto;
		background-color: black;
		opacity: 1;
	}
	#navbar a{
		position: relative;
		color: white;
		margin: auto 8px;
		width: 50px;
		height: 50px;
	}
	#navbar a:first-child{
		margin-left: auto;
	}
	#navbar a:last-child{
		margin-right: auto;
	}
	#socbar{
		margin: auto;
		display: flex;
	}
	#socbar a{
		position: relative;
		margin: auto 4px;
		width: 24px;
		height: 50px;
	}
	.soc-icon{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	#socbar a svg{
		width: 12px;
		margin: auto;
		fill: white;
	}
	#socbar a svg:hover{
		fill: gold;
	}
}
@media only screen and (min-width: 992px) {
	#menubar{
		display: flex;
		-webkit-flex-direction: column; 
		flex-direction: column; 
		float: left;
		background-color: black;
		height: 100%;
		width: 60px;
	}
	#logobar{
		display: block;
		position: initial;
		text-align: center;
		width: 100%;
		margin: 8px auto;
		height: 60px;
	}
	#navbar{
		position: initial;
		display: block;
		text-align: center;
		margin: auto 0;
	}
	#navbar a{
		display: block;
		text-align: center;
		margin: 8px auto;
		height: 50px;
	}
	#socbar{
		position: initial;
		margin: 0;
		margin-bottom: 20px;
		display: block;
	}
	#socbar a{
		text-align: center;
		display: block;
		position: relative;
		margin: 4px auto;
		width: 100%;
		height: 40px;
	}
	#socbar a svg{
		width: 16px;
	}
}