main{
	margin-top: 56px;
}
#prof-pic{
	width: 50%;
}
.text-gold{
	color: gold;
}
.mv-100px{
	margin-top: 100px;
	margin-bottom: 100px;
}
.mb-30px{
	margin-bottom: 100px;
}
.bg-prussianBlue{
	background-color: #1D3557;
}
.bg-celadonBlue{
	background-color: #457B9D;
}
.bg-honeydew{
	background-color: #F1FAEE;
}


.text-imperialRed{
	color: #E63946;
}
.text-honeydew{
	color: #F1FAEE;
}
.text-prussianBlue{
	color: #1D3557;
}

.carousel-item{
	background-color: black;
}
.carousel-item img{
	opacity: .7;
	transition: opacity 200ms ease-in;
}
.carousel-item img:hover{
	opacity: .9;
}